flask_cors
requests
numpy
pandas
pytest
pytest-cov
librosa
albumentations
matplotlib
flask_session
ultralytics
opencv-python
opencv-contrib-python
Pillow
keras
scikit-learn
h5py
psutil
imageio
imutils
pyglet
torch
tensorflow
looseversion
Keras-Preprocessing
path
pygame
pytesseract
